fastapi
uvicorn
pydantic
transformers==4.57.4
torch
torchaudio
soundfile
numpy==1.26.4
indic-asr-onnx
nest_asyncio
scipy
python-multipart
websockets
requests
accelerate
git+https://github.com/ai4bharat/IndicF5.git