fastapi
uvicorn
pydantic
transformers==4.56.0
torch
torchaudio
soundfile
numpy
indic-asr-onnx
nest_asyncio
scipy
python-multipart
websockets
requests
transformers==4.56.0
torch
soundfile
websockets
requests
git+https://github.com/ai4bharat/IndicF5.git